/* You can add global styles to this file, and also import other style files */
@import  '~bootstrap/dist/css/bootstrap.min.css';

  #guitar{
    background-image: url(./assets/guitar.jpg);
    background-size: 250%;
    background-position:82%;
  }
  #minecraft{
    background-image: url(./assets/0fe20042_0bb8_4781_82f4_7130f928b021.0.jpg);
    background-size: 380px;;
    background-position:42%;
  }

#title{
    font-size: 37px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
body{
  background-color:rgb(65, 65, 225);
  background-repeat: no-repeat;
}
.img-circle {
  border-radius: 100%;
  width: 150px;
}
.img-thumb {
  width: 50px;
  height: 50px;
}
.pointer {
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}